.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding:20px;
}

.logo {
    display: block;
    width: 180px;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

article {

    flex-grow: 1;
    flex-basis: 0;
    background: #fff;
    margin: 10px;

    div {
        padding: 20px;
    }

    img {
        width: 100%;
    }

}

@media (max-width: 480px) {
    h2 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.75em;
    }

    .logo {
        margin: 0 auto;
    }

    section {
        flex-direction: column;
        padding:0;
    }

    article {
        margin: 10px 0;
    }
}
